/*css de la pagina de pasteleria */
body{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    background-color: #E9E5DA;
}
nav{
    background-color: #A4ABA3;

}
button{
    background-color: #9884B5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}	
strong{
    color: #550c5d;
    font-size: 20px
}
a	{
    text-decoration: none;
    color: #e2e0e3;
}
.banner{ 
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}	
.container-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 5%;
    
}
.container-title{
    display: flex;
  flex-direction: column;
  width: 20%;
}
.container-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.container-content__text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 100%;
    margin-bottom: 3%;
}
.container-content__text_vision{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 50%;
    height: 300px;
    border: solid 1px #9884B5;
    border-radius: 10px;
    border: #9884B5 solid 2px;

}
.container-content__text_mision{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 50%;
    height: 300px;
    border: solid 1px #9884B5;
    border-radius: 10px;
    border: #9884B5 solid 2px;
}
.container-content__text_2{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    border: solid 1px #A4ABA3;
    height: 300px;
    border-radius: 10px;
    border: #A4ABA3 solid 2px;
}
.bot{
    background-color: #A4ABA3;
    border-radius: 10px;
    border:#9884B5 solid 2px;
}
.collapse navbar-collapse{
    display: flex;
    
}
/* catalogo*/
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    margin-bottom: 10px;
   
    width: 100%;
    justify-content: space-between;
}
.card {
width: 300px;
    padding: 1rem;
    background-color: #a4ada7; 
    border-radius: 10px;
    text-align: center;
    font-size: 1rem; 
    line-height: 1.4;

}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}	
.card-body {
    max-width: 90%;
    margin: 0 auto;
}
.card-text {
    margin-bottom: 1rem;
    text-align: left;
    
}	
.contenedor-boton {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/*promociones*/

